:root {
    --hamburger-gap-color: #1f51ff;
    --main-color: #fff;
    --hover-color: #fff;
    --neon-text-color: #fff;
    --neon-text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px #5271ff, 0 0 82px #5271ff,
    0 0 92px #5271ff, 0 0 102px #5271ff, 0 0 151px #5271ff;
    --neon-text-size: 40px;
    --background-image: url('wall2.jpg');
    --neon-text-size-1: 25px;
    --neon-text-size-2: 25px;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #1f51ff;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
    margin: 0;
    background: var(--background-image);
    background-size: cover;
    font-size: 150%;
    font-family: "Times New Roman", sans-serif;
}

.neon-container {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 20px;
    text-align: right;
}

.neonText {
    font-family: "Times New Roman", sans-serif;
    color: var(--neon-text-color);
    text-shadow: var(--neon-text-shadow);
    font-size: var(--neon-text-size);
}

.hamburger-menu {
    display: flex;
    align-items: center;
    gap: var(--hamburger-gap);
    cursor: pointer;
    top: 10px;
    left: var(--hamburger-margin);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu .bar:nth-child(1) {
    transform: translateY(3px);
}

.hamburger-menu .bar:nth-child(2) {
    transform: translateY(calc(var(--bar-height) + var(--hamburger-gap)));
}

.hamburger-menu .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(calc(var(--bar-height) / 2));
}

.bar {
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--hamburger-gap-color);
    border-radius: 9999px;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
    display: none;
}

.hamburger-menu:has(input:checked) .bar:nth-child(1),
.hamburger-menu:has(input:checked) .bar:nth-child(3) {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked) .bar:nth-child(2) {
    transform: rotate(45deg), translate(0, calc(var(--bar-height) / -2));
    width: var(--x-width);
}

.neonText p {
    font-size: 18px;
    color: white;
    font-family: "Times New Roman", sans-serif;
}

.poster-container {
    overflow: hidden;
}

.posters {
    display: flex;
    animation: slideRight 30s linear infinite;
}

.poster {
    flex: 0 0 auto;
    margin-right: 10px;
}

.posters.paused {
    animation-play-state: paused;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #1f51ff;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem) 1rem 0.5rem;
    background-color: transparent;
    color: transparent;
    max-width: 10rem;
    min-height: 25vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

.sidebar nav div a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: "Times New Roman", sans-serif;
    color: white;
}

#allCategoriesSubMenu {
    padding-left: 20px;
}

#allCategoriesSubMenu h2 {
    margin-bottom: 5px;
    font-size: 16px;
}

#allCategoriesSubMenu ul {
    list-style-type: none;
    padding: 0;
}

#allCategoriesSubMenu li {
    margin-bottom: 5px;
}

body {
    color: #ffffff;
    font-family: "Times New Roman", sans-serif;
}

.custom-button {
    font-size: 20px;
    padding: 5px;
}

.search-form {
    margin-left: 50px;
    margin-top: -28px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px; /* Adjust padding as needed */
    text-align: left;
    z-index: 1000;

}

.search-box {
    border: transparent;
    border-radius: 15px; /* Border radius for rounded corners */
    padding: 8px; /* Padding inside the search box */
    font-size: 16px; /* Font size */
    width: 200px; /* Set a specific width or adjust as needed */
    margin-left: 0; /* Adjust the left margin */
    color: #000; /* Text color */
}

/* Additional styling for search button, if applicable */
.search-button {
    color: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
}

.movie-details-container {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 135px; /* Adjust as needed for spacing around the content */
    margin-top: -350px;
}


.poster-container {
    margin-bottom: 200px; /* Adjust as needed for spacing between poster and movie info */
}

.poster-container img {
    max-width: 100%; /* Ensure the poster doesn't exceed its container's width */
    height: auto; /* Maintain the aspect ratio of the poster */
}

.movie-info {
    flex: 1;
    margin: 0 20px;
}

.movie-rating {
    text-align: center;
    margin-top: 20px;
}

.movie-info h2 {
    font-size: 50px;
    margin-top: 15px; /* Adjust as needed for the movie title */
}

.movie-info p {
    margin: 10px 0; /* Adjust as needed for spacing between paragraphs */
}

.movie-info ul {
    list-style-type: none;
    padding: 0;
}

.movie-info li {
    margin-bottom: 5px; /* Adjust as needed for spacing between list items */
}


.poster {
    max-width: 200px; /* Adjust the max-width of the poster */
    margin-right: 70px;
    margin-left: -20px;/* Adjust the margin between the poster and movie info */
}


ul {
    margin-top: -35px;
    padding-top: -125px;
}

form {
    margin-top: -75px;
    padding-top: 35px;
    margin-left: 35px;
    padding-left: 35px;
}
.header-container {
    position: relative;
}

.user-container {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 20px;
    text-align: right;
    z-index: 3;
}
.space-between {
    margin-right: 20px;
}
.user-container a:nth-child(1) {
    color: #ffffff;
    text-decoration: none;
}
.user-container a:nth-child(3){
    color: #ffffff;
    text-decoration: none;
}