{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <div class="centered-container">
        <h2>Forgot Password</h2>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button style="background-color: #1f51ff" type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}