{% extends "homepage/base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="needs-validation">
                    {% csrf_token %}
                    <div class="non-field-errors">
                        {{ form.non_field_errors }}
                    </div>
                    {{ form.non_field_errors }}
                    <div class="form-group">
                            <label>Username</label>
                            <br>
                            {{ form.username.errors }}
                            {{ form.username }}
                    </div>
                    <div class="form-group">
                            <label>Password</label>
                            <br>
                            {{ form.password.errors }}
                            {{ form.password }}
                    </div>
                    <button type="submit" class="btn btn-primary mr-3"
                            style="margin-left: 195px;">Login</button>
                </form>
                <a href="{% url 'register' %}" class="mt-3"
                   style="margin-left: 120px;">Don't have an account? Register here.</a>
                <br>
                <a href="{% url 'password_reset' %}" class="mt-3"
                   style="margin-left: 180px;">Forgot Your Password?</a>
            </div>
        </div>
    </div>
{% endblock %}