{% extends "homepage/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <div class="profile-container">
        <div class="profile-header">
            <h1>User Profile</h1>
        </div>
        <div class="profile-info">
            <h2>{{ user.username }}</h2>
            <p>Email: {{ user.email }}</p>
            <!-- Add more profile information as needed -->
        </div>
    </div>
<div class="button-container">
 <a href="{% url 'base' %}" class="btn btn-primary" style="margin-top: 210px;">Go to Main Page</a>
</div>
  <!-- You can add more content specific to the user's profile -->
{% endblock %}