{% extends "homepage/base.html" %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }}
                        <br>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        {{ form.username.label_tag }}
                        <br>
                        {{ form.username }}
                    </div>
                    <div class="mb-3">
                        {{ form.password1.label_tag }}
                        <br>
                        {{ form.password1 }}
                    </div>
                    <div class="mb-3">
                        {{ form.password2.label_tag }}
                        <br>
                        {{ form.password2 }}
                    </div>
                    <button type="submit" style="margin-left: 190px;" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}