{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MOVIEMATRIX - Your Favorite Movies{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=
    Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- Link to CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
<header>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</header>
<div class="neon-container">
    <h1 class="neonText">
        MOVIEMATRIX
    </h1>
    <p class="neonText">
        Your Favorite Movies
    </p>
</div>

{% block content %}
    <ul>
        {% for genre in base %}
            <li>
                <a href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a>
            </li>
        {% empty %}
            <li>No genre found</li>
        {% endfor %}
    </ul>

    <div class="poster-container">
        <div class="posters">
            {% for poster in random_posters %}
                <a href="{% url 'movie_details' poster.id %}" class="poster">
                    <img src="https://image.tmdb.org/t/p/w200/{{ poster.poster_path }}" alt="{{ poster.title }}">
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="search-bar">
        <form action="/search" method="get">
            <label>
                <input type="text" name="query" placeholder="Search...">
            </label>
            <button type="submit">Search</button>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const posters = document.querySelector(".posters");

            posters.addEventListener("mouseenter", function () {
                this.classList.add("paused");
            });

            posters.addEventListener("mouseleave", function () {
                this.classList.remove("paused");
            });
        });
    </script>
{% endblock %}

<footer>
    <p>&copy; 2023 MOVIEMATRIX</p>
</footer>

</body>

</html>
