{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MOVIEMATRIX - Your Favorite Movies{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <label class="hamburger-menu">
        <input type="checkbox" />
    </label>
    <aside class="sidebar">
        <nav>
            <div>
                <a href="{% url 'base' %}">Home</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="#" id="allCategoriesLink">All Categories</a>
                <div id="allCategoriesSubMenu" style="display: none;">
                    <h2>Genres</h2>
                    <ul>
                        {% for genre in base %}
                            <li>
                                <a href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a>
                            </li>
                        {% empty %}
                            <li>No genre found</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if user.is_authenticated %}
                <div>
                    <p>Welcome, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                </div>
            {% endif %}
        </nav>
    </aside>
{% include 'movies/search_form.html' %}
<header>
    <div class="neon-container">
        <h1 class="neonText">
            MOVIEMATRIX
        </h1>
        <p class="neonText">
            Your Favorite Movies
        </p>
    </div>
</header>
{% block content %}
    <div class="poster-container">
        <div class="posters">
            {% for poster in random_posters %}
                    <img src="https://image.tmdb.org/t/p/w200/{{ poster.poster_path }}" alt="{{ poster.title }}">
                </a>
            {% endfor %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const posters = document.querySelector(".posters");
            posters.addEventListener("mouseenter", function () {
                this.classList.add("paused");
            });
            posters.addEventListener("mouseleave", function () {
                this.classList.remove("paused");
            });
        });
            document.addEventListener("DOMContentLoaded", function () {
                const allCategoriesLink = document.getElementById("allCategoriesLink");
                const allCategoriesSubMenu = document.getElementById("allCategoriesSubMenu");
                allCategoriesLink.addEventListener("click", function (event) {
                    event.preventDefault();
                    allCategoriesSubMenu.style.display = (allCategoriesSubMenu.style.display === "none") ? "block" : "none";
                });
            });
    </script>
{% endblock %}
<footer>
    <p>&copy; 2023 MOVIEMATRIX</p>
</footer>
</body>
</html>