{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MOVIEMATRIX - Your Favorite Movies{% endblock %}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="header-container">
        <header>
            <div class="neon-container">
                <h1 class="neonText">MOVIEMATRIX</h1>
                <p class="neonText">Your Favorite Movies</p>
            </div>
            <div class="user-container">
                <div class="user-info">
                    {% if user.is_authenticated %}
                        <p>Welcome, {{ user.username }}!
                            <a style="color: white; margin-left: 50px;" href="{% url 'logout' %}"
                               class="space-between logout">Logout</a></p>
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <span class="space-between"></span>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </header>
    </div>

    {% include 'movies/search_form.html' %}
    <label class="hamburger-menu">
        <input type="checkbox" />
    </label>
    <aside class="sidebar">
        <nav>
            <div>
                <a href="{% url 'base' %}">Home</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'all_categories' %}" id="allCategoriesLink">All Categories</a>
                <div id="allCategoriesSubMenu" style="display: none;">
                    <ul>
                        {% for genre in base %}
                            <li>
                                <a href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a>
                            </li>
                        {% empty %}
                            <li>No genre found</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </aside>
    {% block content %}
        <div class="categories-container">
            <div class="row">
                <div id="allCategoriesSubMenu1" class="allCategoriesSubMenu" style="display: none;">
                    <ul>
                        {% for genre in base|slice:":5" %}
                            <li><a class="allCategoriesListColorWhite"
                                   href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="allCategoriesSubMenu2" class="allCategoriesSubMenu" style="display:none;">
                     <ul>
                        {% for genre in base|slice:"5:10" %}
                            <li><a class="allCategoriesListColorWhite"
                                   href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="allCategoriesSubMenu3" class="allCategoriesSubMenu" style="display: none">
                    <ul>
                        {% for genre in base|slice:"10:15" %}
                            <li><a class="allCategoriesListColorWhite"
                                   href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div id="allCategoriesSubMenu4" class="allCategoriesSubMenu" style="display: none">
                    <ul>
                         {% for genre in base|slice:"15:" %}
                            <li><a class="allCategoriesListColorWhite"
                                   href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="poster-container">
                    <div class="posters">
                        {% for poster in random_posters %}
                        <a href="{% url 'movie_details' poster.id %}" class="poster">
                            <img src="https://image.tmdb.org/t/p/w200/{{ poster.poster_path }}"
                                 alt="{{ poster.title }}">
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const posters = document.querySelector(".posters");
                posters.addEventListener("mouseenter", function () {
                    this.classList.add("paused");
                });
                posters.addEventListener("mouseleave", function () {
                    this.classList.remove("paused");
                });
            });
            document.addEventListener("DOMContentLoaded", function () {
                const allCategoriesLink = document.getElementById("allCategoriesLink");
                const categoriesContainers = document.querySelectorAll(
                    ".categories-container .allCategoriesSubMenu"
                );

                allCategoriesLink.addEventListener("click", function (event) {
                    event.preventDefault();
                    categoriesContainers.forEach(function (container) {
                        container.style.display = (
                            container.style.display === "none"
                        ) ? "block" : "none";
                    });
                });
            });

        </script>
    {% endblock %}
    <footer>
        <p>&copy; 2023 MOVIEMATRIX</p>
    </footer>
</body>
</html>