{% extends "homepage/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>User Profile</h1>
<p>Username: {{ user_profile.user.username }}</p>
<p>Bio: {{ user_profile.bio }}</p>

  <h2>Your Profile</h2>
  <p>Hello, {{ user.username }}! This is your profile page.</p>

  <h3>Your Details</h3>
  <ul>
    <li>Username: {{ user.username }}</li>
    <li>Email: {{ user.email }}</li>
    <!-- Add more user-specific details here -->
  </ul>
  <a href="{% url 'base.html' %}" class="btn btn-primary">Go to Main Page</a>

  <!-- You can add more content specific to the user's profile -->
{% endblock %}