{% extends "homepage/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Bio: {{ user_profile.bio }}</p>

    <h2>Your Profile</h2>
    <p>Hello, {{ user.username }}! This is your profile page.</p>

    <h3>Your Details</h3>
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
    </ul>
    <a href="{% url 'base' %}" class="btn btn-primary">Go to Main Page</a>
  {% else %}
    <p>You need to <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to view your profile.</p>
  {% endif %}
{% endblock %}