{% load static %}
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <body style="background-image: url('https://images.leadconnectorhq.com/image/f_webp/q_80/r_768/u_https://assets.cdn.filesafe.space/zqdTo1x3PIK4HeALRHNQ/media/6318f9e44bf09a573f70db74.png');">
    <!-- content here -->
</body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MOVIEMATRIX - Your Favorite Movies{% endblock %}</title>
    <!-- Link to Google Fonts -->
        <h1>Type for Search</h1>

{% block content %}

    <ul>
        {% for genre in base %}
            <li>
                <a href="{% url 'movie_list' genre.id %}">{{ genre.name }}</a>
            </li>
        {% empty %}
            <li>No gener found.</li>
        {% endfor %}
    </ul>
{% endblock %}

    <h2>Random Movie Posters</h2>
    <div class="poster-container">
        {% for poster in random_posters %}
            <a href="{% url 'movie_details' poster.id %}">
                <img src="https://image.tmdb.org/t/p/w200/{{ poster.poster_path }}" alt="{{ poster.title }}">
            </a>
        {% endfor %}

    <form action="/search" method="get">
        <label>
            <input type="text" name="query" placeholder="Search...">
        </label>
        <button type="submit">Search</button>
    </form>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap"
          rel="stylesheet">
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        /* CSS for "neonText class */
        .neonText {
            font-family: 'Roboto Light', cursive;
            color: #1F51FF;
            text-align: right;
            font-size: 25px;
        }
    </style>
<body>
    <h1 class="neonText">
        MOVIEMATRIX
    </h1>
    <p class="neonText">
        Your Favorite Movies
    </p>
    <nav>
        <ul>
                    <!-- add more genre links -->
                </ul>
            </li>
        </ul>
    </nav>
    <div class="search-bar">
        <!-- search bar HTML here -->
    </div>
    <footer>
        <p>&copy; 2023 MOVIEMATRIX</p>
    </footer>
</body>
</html>